@media (min-width: 1400px) {
  .taskPanel__container {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .task,
  .newTask {
    --numberOfTasksPerWindow: 4;
    height: var(--taskHeight);
  }

  .taskForm {
    width: 300px;
    height: 350px;
  }
}
