@media (min-width: 760px) {
  .taskPanel__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 20px;
    justify-content: center;
  }

  .task,
  .newTask,
  .addTask {
    --numberOfTasksPerWindow: 3;
    height: var(--taskHeight);
  }

  .finishedTasks__header {
    grid-column: 1 / -1;
    text-align: start;
  }

  .taskForm {
    margin: unset;
    width: 350px;
    height: 400px;
  }

  .taskForm__input {
    margin-bottom: 0;
  }
}
